@model IEnumerable<feedback>
<section class="testimonial-area section-padding">
    <div class="container">
        <div class="section-heading text-center">
            <h5 class="ribbon ribbon-lg mb-2">Testimonials</h5>
            <h2 class="section__title">Student's Feedback</h2>
            <span class="section-divider"></span>
        </div>

    </div>

    <div class="container-fluid">
        <div class="testimonial-carousel owl-action-styled">

            @foreach (var item in Model)
            {
                <div class="card card-item">
                    <div class="card-body">
                        <div class="media media-card align-items-center pb-3">
                            <div class="media-img avatar-md">
                                <img src="~/images/small-avatar-1.jpg"
                                     alt="Testimonial avatar"
                                     class="rounded-full" />
                            </div>
                            <div class="media-body">
                                <h5>@item.StudentName</h5>
                                <div class="d-flex flex-column align-items-start pt-1">
                                    <span class="lh-18 pe-2">Student</span>
                                    <div class="review-stars">
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="card-text">
                           @item.StudentComment
                        </p>
                    </div>

                </div>
            }

        </div>
    </div>
</section>